html:has(.main-content-4) {
  --bg: #eaf5fc;
  --primary: #1cb1e8;
  --primary-deep: #0a2756;

	background-color: var(--bg);
	background-image: url(../../public/noise.png);
	background-size: 200px;
	animation: noise 1s infinite linear alternate;
}

@keyframes noise {
	0% { background-position: 0 0; }
	100% { background-position: 100% 100%; }
}
